/*start navbar*/
.container{
    width: 90%;
    height: fit-content;
    margin: auto;
}
.textsection h1{
    font-size: 1.7rem;
    color:rgb(30, 159, 171);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}
.navbarparent{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    
}
.navigationsection{
    height: 80%;
    display: flex;
    grid-gap: 1rem;
}
.navbarparent .book a{
  line-height: 50px;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  transform: ease-in 0.3s;
  font-size: 1rem;
}
.book{
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background:#1c2529dd;
    transition: ease-in 0.3s;
}
.book:hover{
    transform: scale(1.02);
    background: black;
}
.call a{
    text-align: center;
    text-decoration: none;
    padding: 1rem;
  border-radius: 5px;
  transform: ease-in 0.3s;
  font-size: 1rem;
  color:rgb(30, 159, 171);
}
.call{
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: ease-in 0.3s;
   
}
.call:hover{
    
    color: white !important;
    background: black;
}
.call a:hover{
    color: white;
}
/*End navbar*/
/*start banner*/

.bannertext h1{
    color: #575757;
    font-size: 8vh;
    margin: 0;
    margin-top: 6%;
}
.bannerparent{
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    width: 80%;
    margin: auto;
}
.bannertext p{
    margin-top: 1.5rem;
    padding: 0;
}
.knowme{
    width: 8rem;
    border-radius: 5px;
    height: 2.3rem;
    color: white;
    align-items: center;
    text-align: center;
    line-height: 2.3rem;
    background: #575757;
    transition: ease-in 0.2s;
}
.knowme:hover{
    transform: scale(1.02);
    height: 2.6rem;
    line-height: 2.6rem;
}
.getintouch{
    margin-top: 2rem;
    display: flex;
    grid-gap: 8%;
}
.instagram{
    width: 2rem;
    height: 2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 100%;
    background: url(./assets/photo/Instagram_logo_2022.svg.webp) no-repeat;
    background-size: contain;
}
.linkedin{
    width: 2rem;
    height: 2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 100%;
    background: url(./assets/photo/link.webp) no-repeat;
    background-size: contain;
    
}
.github{
    width: 2rem;
    height: 2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 100%;
    background: url(./assets/photo/github.png) no-repeat;
    background-size: contain;
}
.logosection{
    width: 30%;
    height: 20%;
    border-radius: 100%;
    
    background-size: contain;
}
.logosection img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    background: url(./assets/photo/myphoto.jpg) no-repeat;
    background-size: contain;
}
.logosectionmb{
    display: none;
}
/*end banner section*/
/* about section*/
.aboutparent h1{
    color: #575757;
    text-align: center;
}
.aboutparent{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.introduction{
    width: 40%;
    height: fit-content;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    color: #575757;
}
.skills{
    width: 40%;
}
.skills p{
    font-size: 1.5rem;
    color: #575757;
    font-weight: 550;
}
.frontend{
    display: flex;
    grid-gap: 2rem;
    flex-wrap: wrap;
}
.html{
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    background: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
}
.html:hover{
    transform: scale(1.02);
}
.css{
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
    background: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
}
.css:hover{
    transform: scale(1.02);
}
.javascript{
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
}
.javascript:hover{
    transform: scale(1.02);
}
.css p{
    font-size: 1rem;
    color: white;
    
    text-align: center;
}
.html p{
    font-size: 1rem;
    color: white;
    
    text-align: center;
}
.javascript p{
    font-size: 1rem;
    color: white;
    
    text-align: center;
}
.backend{
    display: flex;
    grid-gap: 2rem;
}
.flexheight{
    height: 500px;
}
.javascriptb p{
    font-size: 1rem;
    color: white;
    
    text-align: center;
}
.javascriptb{
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    background: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s;
}
.javascriptb:hover{
    transform: scale(1.02);
}
/*End about section*/
/*Start project section*/
.projectparent{
    width:100%;
    height: fit-content;
   display: flex;
   grid-gap: 5%;
}
.projecttext{
    text-align: center;
    margin-top: 10%;
}
.project{
    width: fit-content;
    height: fit-content;
    padding: 2%;
    border-radius: 8px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: ease 0.2s;
}
.project h2{
    text-align: center;
    color: #575757;
}
.project p{
    text-align: center;
    color: #575757;
    height: 4.5rem;
}
.projectread{
    width: 6rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
    color: white;
    margin-top: 2rem;
    height: 2rem;
    background: rgb(30, 159, 171);
    
}
.projectread a{
    color: white;
    text-decoration: none;
}
.project:hover{
    transform: scale(1.02);
    transition: ease-in 0.2s;
}
.contact {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}
.findme{
    width: 100%;
    height: fit-content;
    padding: 2rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    border-radius: 5px;
    transition: ease-in 0.2s;
}
.findmepare{
    display: flex;
    justify-content: space-between;
}
.findme:hover{
    background: #575757;
    color: white;
}
.form{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#name{
    width: 12rem;
    height: 2rem;
    text-indent: 5px;
    border-radius: 5px;
    border:black 1px rgba(0, 0, 0, 0.521);
}
.Footersection h1{
    color: black;
    margin-top: 5rem;
}
.getintouchfooter{
    width: 100%;
    display: flex;
    grid-gap: 2%;
    justify-content: center;
    margin: auto;
}
.Footersection p{
    color: black;
    font-size: 0.8rem;
    text-align: center;
    margin: 5rem;
}
/*Start project section*/

@media only screen and (max-width: 620px){
    .navbarparent{
        display: flex;
        grid-template-columns: 1fr !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /*start banner*/
    .bannerparent{
        display: flex;
        grid-template-columns: 1fr !important;
        flex-wrap: wrap;
       margin-top: 5rem;
        
    }
    .bannerparent h1{
        font-size: 2rem;
        ;
    }
    
    .bannertextpart p{
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 2rem;
        background-image: linear-gradient(63deg, rgb(241, 58, 238) 4.49983%, rgb(44, 90, 255) 67.7908%, rgb(100, 246, 255) 109.275%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
       }
    .logosection img{
        display: none !important;
    }
    .logosectionmb{
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        justify-content: center;
    }
    .logosectionmb img{
        display: block !important;
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }
    /*End banner*/
    .introduction{
        width: 80%;
        height: 100%;
       border-radius: 8px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 2rem;
        color: #575757;
       font-size: 1.3rem;
       text-align: center;
    }
    .container{
        width: 95%;
        height: fit-content;
    }
    .aboutparent{
   
        display: flex;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: space-between;
    }
    .skills{
        flex-wrap:wrap;
        width: 100%;
    }
    .frontend{
        width:fit-content;
        display: flex;
        flex-wrap: wrap;
    }
    .flexheight{
        height: 500px;
    }
    .projectparent{
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
    }
    .project{
        width: 90%;
        margin: auto;
        height: max-content;
    }
    .projectread{
        margin-bottom: 2%;
    }
    .projecttext{
        font-size: 1.5rem;
        gr
    }
}
/* @media only screen and (max-width: 1000px){
    .navbarparent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .bannerparent h1{
        font-size: 1rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
    .bannerparent{
        display: flex;
        grid-template-columns: 1fr;
        
    }
    .bannertextpart p{
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 2rem;
        background-image: linear-gradient(63deg, rgb(241, 58, 238) 4.49983%, rgb(44, 90, 255) 67.7908%, rgb(100, 246, 255) 109.275%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
       }
    .imgpart{
        width: 13rem;
        height: 6rem;
        border-radius: 50%;
    }
    .imgpart img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
    
} */

